.well blockquote{
    border-color:#ddd;
    border-color:rgba(0,0,0,0.15)
}
blockquote{
    padding:10.5px 21px;
    margin:0 0 21px;
    border-left:5px solid rgba(102,128,153,0.075)
}
blockquote p{
    font-size:18.75px;
    font-weight:300;
    line-height:1.25
}
blockquote p:last-child{
    margin-bottom:0
}
blockquote small,blockquote .small{
    display:block;
    line-height:1.45;
    color:#999
}
blockquote small:before,blockquote .small:before{
    content:'\2014 \00A0'
}
blockquote.pull-right{
    padding-right:15px;
    padding-left:0;
    border-right:5px solid rgba(102,128,153,0.075);
    border-left:0
}
blockquote.pull-right p,blockquote.pull-right small,blockquote.pull-right .small{
    text-align:right
}
blockquote.pull-right small:before,blockquote.pull-right .small:before{
    content:''
}
blockquote.pull-right small:after,blockquote.pull-right .small:after{
    content:'\00A0 \2014'
}
blockquote:before,blockquote:after{
    content:""
}
blockquote{
    margin:10px 0
}
blockquote{
    margin-bottom:10px;
    padding:0
}